.header{
    position: absolute;
    width: 71px;
    height: 19px;
    left: 315px;
    top: 71px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: rgba(3, 169, 244, 1);
}
.header+p{
    position: absolute;
    width: 89px;
    height: 19px;
    left: 485px;
    top: 71px;

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: rgba(125, 125, 125, 1);
}
.header+p+p{
    position: absolute;
    width: 44px;
    height: 19px;
    left: 674px;
    top: 71px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #7D7D7D;
}
.header+p+p+p{
    position: absolute;
width: 52px;
height: 19px;
left: 818px;
top: 71px;
font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #7D7D7D;
}
.group1>img{
    position: absolute;
    width: 420px;
    height: 280px;
    left: 148px;
    top: 182px;
}
.group1>p{
    position: absolute;
    width: 64px;
    height: 16px;
    left: 148px;
    top: 524px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}
.group1>h1{
    position: absolute;
    width: 408px;
    height: 40px;
    left: 148px;
    top: 572px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
}
.group1>.pa{
    position: absolute;
    width: 420px;
    height: 76px;
    left: 148px;
    top: 652px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
.group2>img{
    position: absolute;
    width: 420px;
    height: 280px;
    left: 633px;
    top: 182px;
}
.group2>P{
    position: absolute;
    width: 64px;
    height: 16px;
    left: 633px;
    top: 524px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}
.group2>h1{
    position: absolute;
    width: 379px;
    height: 40px;
    left: 633px;
    top: 572px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
}
.group2>.pa{
    position: absolute;
    width: 420px;
    height: 76px;
    left: 633px;
    top: 652px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;    
    color: #626262;
}
.group3>img{
    position: absolute;
    width: 420px;
    height: 280px;
    left: 147px;
    top: 858px;
}
.group3>p{
    position: absolute;
    width: 86px;
    height: 16px;
    left: 148px;
    top: 1170px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}
.group3>h1{
    position: absolute;
    width: 225px;
    height: 40px;
    left: 148px;
    top: 1218px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
}
.group3>.pa{
    position: absolute;
    width: 420px;
    height: 76px;
    left: 148px;
    top: 1298px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #626262;
}
.group4>img{
    position: absolute;
    width: 420px;
    height: 280px;
    left: 633px;
    top: 858px;
}
.group4>p{
    position: absolute;
    width: 86px;
    height: 16px;
    left: 633px;
    top: 1170px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}
.group4>h1{
    position: absolute;
    width: 324px;
    height: 40px;
    left: 633px;
    top: 1218px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
}
.group4>.pa{
    position: absolute;
    width: 420px;
    height: 76px;
    left: 633px;
    top: 1298px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #626262;
}
.group5>img{
    position: absolute;
    width: 420px;
    height: 280px;
    left: 149px;
    top: 1500px;
}
.group5>p{
    position: absolute;
    width: 64px;
    height: 16px;
    left: 149px;
    top: 1812px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}
.group5>h1{
    position: absolute;
    width: 321px;
    height: 40px;
    left: 149px;
    top: 1860px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
}
.group5>.pa{
    position: absolute;
    width: 420px;
    height: 76px;
    left: 149px;
    top: 1940px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;    
    color: #626262;
}
.group6>img{
    position: absolute;
    width: 419px;
    height: 280px;
    left: 633px;
    top: 1504px;
}
.group6>p{
    position: absolute;
    width: 64px;
    height: 16px;
    left: 632px;
    top: 1816px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}
.group6>h1{
    position: absolute;
    width: 226px;
    height: 40px;
    left: 632px;
    top: 1864px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
}
.group6>.pa{
    position: absolute;
    width: 420px;
    height: 76px;
    left: 632px;
    top: 1944px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #626262;
}
.btn{
    position: absolute;
    width: 68px;
    height: 19px;
    left: 49px;
    top: 20px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    position: absolute;
    width: 165px;
    height: 60px;
    left: 0px;
    top: 0px;
    border: 1px solid #626262;
}